body, html {
  max-width: 1000px;
  margin: 0 auto;
}
#title {
  text-align: center;
}
hr {
  background-color:rgba(255,255,255,0.2);
  height:1px;
  max-width:970px;
}
#nav li {
  text-align: center;
  float: center;
  text-decoration: none;
}
#nav {
  height:auto;
  padding:10px;
  background-color:black;
  color:white;
  text-align: center;

}
#nav select {
  display: none;
}
#nav p {
  font-size: 1.5em;
  font-family:Bree serif;
}

#nav.fixed {
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  z-index:999;
}
#banner {
  margin: auto;
  height: 300px;
  max-width: 100%;
  background-color: rgba(255,25,25,0.7);
  color:white;
  text-align: center;
  margin-bottom:40px;
  margin-top:20px;
}
#runner {
  font-size:2em;
  margin: auto;
  height: 45px;
  max-width: 1000px;
  background-color: rgba(255,25,25,0.7);
  color:white;
  text-align: center;
  margin-bottom:40px;
  margin-top:20px;
}
#runner h1 {
 margin-top: 5px;
}
.homeBanner {
  font-size:5em;
  padding:9%;
}
.fontLob {
  font-family:Lobster;
}
#aboutSection .top {
  text-align:justify;
  padding-left:70px;
  padding-right:70px;
  margin-top:px;"
}
#adView {
  color:red;
  font-size:6em;
  margin-top:-335px;
  margin-bottom: 200px;
}
#picBack {
  background-color: white;
}
.artLines {
  display: none;
}
.iframe {
  /*margin-top: 60px;*/
}

#select  {
  width: 200px;
  border-radius: 10%;
  background-color: lightgrey;
  color:black;
  font-family: Bree serif;
  text-align: center;
  padding-left: 70px;
  font-size: 1.25em
}



/* MUSIC PAGE*/
.bio-wrap {
  margin-top: -15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
#bounce, #wanna {
  margin-top: 0px;
}

#youTube {
  margin-top: 30px;
}
#bombay img{
  padding-top: 5px;
}
#prodText{
  margin-top: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#.scTitle {
  padding-bottom:15px;
}
#down {
  margin-bottom: -3px;
}
#faith {
  margin-bottom: 35px;
}
#buyLinks {
  color:white;
  font-family: Bree serif;
  font-size: 1.5em;
  text-align: center;
  padding-top: 100px;
}
#buyLinks span {
  margin-left: 20px;
}
#itunes {
  margin-left: 225px;
  margin-top:20px;
}
#amazon {
  margin-left: 425px;
  margin-top: -55px;
}
#cdbaby {
  margin-left: 620px;
  margin-top: -55px;
}



/*Website Page*/
#webBan {
  padding-top:50px;
  padding-bottom:50px;
}
.card {
  background-color:rgba(255, 255, 255, 0.5);
  height: 150px;
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-content {
  background-color:rgba(7, 6, 255, 0.5);
  height: 100px;
  width: 130px;
}
.card-footer {
  background-color:rgba(97, 6, 25, 0.5);
  height: 30px;
  width: 130px;
  text-align: center;
  margin-top: -10px;
}
.card-footer h4 {
  margin:0px;
  margin-top: 15px;
  padding-top: 5px;
}
.card-body {
  margin-left: 140px;
  margin-top: -105px;
}
#travstate {
  margin-top: 0px;
}
#portfolioPic {
  margin-top: 40px;
}
#coderPicLow, #portfolioPicLow, #travstatePicLow {
  display: none;
}

/**/




/* MOBILE VIEWS */

@media (max-width: 200px) {
  /*#soundCloud { margin-bottom: 1500px;}*/
  .bio-wrap {margin-bottom: -555px;}
}



/*LARGER TABLET VIEW WIDTHS*/
@media (max-width: 990px) {
  .bio-wrap { background-color: red;margin-bottom: 150px;}
  #soundCloud { padding-top: 280px;margin-top: 180px;}
  #bombay { margin-top: -80px; padding-bottom: 40px;}
}

/*TABLET VIEW WIDTHS*/
@media (max-width: 750px) {
  .iframe { margin-top: 100px; }
  .bio-wrap { display: none; }
  #soundCloud { padding-top: 10px;margin-top: 180px; }
  #aboutHeader { display: none; }
  #fb-link { padding-top: 60px;margin-right: 50px; }
}
/*PHONE VIEW WIDTHS FOR PROJECTS*/
@media (max-width: 450px) {
  .card { width: 250px;height: auto; }
  .card-body { display: none; }
  #portfolioPic, #travstatePic, #coderPic { margin-top: 140px;margin-left:px; }
  #coderPicLow, #portfolioPicLow, #travstatePicLow { display: inherit;margin-top: 20px; }
  .card-footer  { margin-left:15px;width: 200px;}
}
/*PHONE VIEW WIDTHS EVERYTHING*/
@media (max-width: 350px) {
  .homeBanner { font-size: 4em;}

  .bio-wrap {margin-bottom: -555px;}
  /*music page*/
  .iframe { width: 250px; }
  .youTubeTitle {margin-top: 40px; }
  #banner { height: auto;}

  #runner h1 { font-size: 1em;padding-top: 10px;}



  #soundCloud { padding-top: 5px; }
  #youTube { margin-top: 60px; }
  #wanna { margin-bottom: -40px; }
  #bounce { margin-bottom: -40px; }
  #buyLinks { margin-top: -40px; }
  #itunes, #amazon , #cdbaby { margin:0px; margin-left: 50px; padding-top: 20px; }

  /*websites page*/
  #webBan { padding-top: 10px;padding-bottom: 10px; }

}


@media (max-width: 1000px) {
  #nav p     { display: none; }
  #nav select { display: inline-block; }
}


/*when mobile lower top margin*/
@media (max-width: 960px) {

}


#fb-link {
  float:right;
  margin-top:-60px;
  margin-bottom:20px;
}

#mePic {
  margin-bottom: 40px;
}




@media (min-width: 960px) {
  #runner {
    height: 55px;
  }

}
@media only screen and (max-width: 500px) {
    #aboutSection .top {
        padding-left:20px;
        padding-right:20px
    }
    #adView {
      font-size: 3em;
      margin-top:-120px;
      margin-bottom: 50px;
    }
    #runner {
      height: 50px;
      margin-top:0px;
    }
}
@media only screen and (max-width: 900px) {
  #pic  { display: none;}

}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .artLines { display: block;margin: 0px 10px; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .artLines { display: none; }   /* hide it elsewhere */

}


/* Photo Carousel*/
div#carousel {
  perspective: 1200px;
  background: #100000;
  padding-top: 5%;
  font-size:0;
  /*margin-bottom: 3rem;*/
  overflow: hidden;
  margin-top: 20px;
}
figure#spinner {
  transform-style: preserve-3d;
  height: 300px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
figure#spinner img {
  width: 40%; max-width: 425px;
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }
