<div class='container-fluid'>
  <div class="row"style='height:;'>
    <div id="pic">
    <div id=carousel class="col-md-12"style="">
      <figure id=spinner style="margin-top:;">
      <img class="img-responsive"src=//demosthenes.info/assets/images/wanaka-tree.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/still-lake.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/pink-milford-sound.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/paradise.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/morekai.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/milky-blue-lagoon.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/lake-tekapo.jpg alt="">
      <img class="img-responsive"src=//demosthenes.info/assets/images/milford-sound.jpg alt="">
      </figure>
    </div>
<span style=float:left class=ss-icon onclick="galleryspin('-')"> &lt;Prev</span>
<span style=float:right class=ss-icon onclick="galleryspin('')">Next &gt;</span>
</div>
<div class="col-md-12" id='runner' >
  <h1 class="fontLob" >Phoja Custom Craft</h1>
</div>
</div>
<div class="row" style="">
  <div class="col-md-3">
    <h2 style="color:white;padding-left:25px;background-color:rgba(255,255,255,0.3);"> Knit</h2>
    <a href=''data-toggle="modal" data-target="#myModal1"><img src="/img/knitcover1.jpg" width="325"class="img img-responsive"alt="purple yarn ball and tape measure up close"style="margin:0 auto" /></a>
    <p style="text-align:justify;margin-top:20px;margin-bottom:40px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <hr class="artLines">
  <div class="col-md-3">
    <h2 style="color:white;padding-left:25px;background-color:rgba(255,255,255,0.3);">Leather</h2>
    <a href=''data-toggle="modal" data-target="#myModal2"><img src="/img/leather2.jpg" width="325"class="img img-responsive"alt="purple yarn ball and tape measure up close"style="margin:0 auto" /></a>
    <p style="text-align:justify;margin-top:20px;margin-bottom:40px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <hr class="artLines">
  <div class="col-md-3">
    <h2 style="color:white;padding-left:25px;background-color:rgba(255,255,255,0.3);"> Vinyl</h2>
    <a href=''data-toggle="modal" data-target="#myModal3"><img src="/img/vinyl2.jpg" width="325"class="img img-responsive"alt="purple yarn ball and tape measure up close"style="margin:0 auto" /></a>
    <p style="text-align:justify;margin-top:20px;margin-bottom:40px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <hr class="artLines">
  <div class="col-md-3">
    <h2 style="color:white;padding-left:25px;background-color:rgba(255,255,255,0.3);"> Paint</h2>
    <a href=''data-toggle="modal" data-target="#myModal4"><img src="/img/paint1.jpg" width="325"class="img img-responsive"alt="purple yarn ball and tape measure up close"style="margin:0 auto" /></a>
    <p style="text-align:justify;margin-top:20px;margin-bottom:40px;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>
<div class="row">
</div class="col-md-12">
<hr style="margin-top:40px;">
<p style="color:white;text-align:center"><b> &copy 2016 Phoja Unlimited LLC </b></p>
<p style="color:white;text-align:center">Send all inquires to<a href="mailto:phojaunlimitedllc@gmail.com" target="_top"> phojaunlimitedllc@gmail.com</a></p>
<a  href='https://www.facebook.com/Phoja-Unlimited-LLC-318725271503188/?ref=bookmarks' target='_blank'><img id='fb-link'src="/img/fb-btn.png" width="150"alt="" /></a>
</div>

<!-- Modal 1 -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Knit modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal 2 -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Leather modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal 3-->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Vinyl modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal 4-->
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Paint modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</div>



<!--

                                NEW VERSION

-->
