<div class="container-fluid" style='max-width:1000px;' >

  <!-- Banner -->
	<div class="row">
		<div class="col-md-12" id='banner' >
      <h1 class="fontLob homeBanner" style="">Phoja Unlimited LLC</h1>
		</div>
	</div>
  <!-- Content -->
  <div id="container">
    <div class="row">
  		<div class="col-md-4" style="text-align:center;">
        <h2 style="color:white;">Custom Craft</h2>
        <img src="/img/knitcover1.jpg" width="325"class="img img-responsive"alt="purple yarn ball and tape measure up close"style="margin:0 auto" />
        <p style="text-align:justify;padding-left:20px;padding-right:20px;margin-top:20px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  		</div>
			<hr class="artLines">
  		<div class="col-md-4" style="text-align:center;">
        <h2 style="color:white;">Music Production</h2>
        <img src="/img/Music1.jpg" width="325"class="img img-responsive"alt="purple yarn ball and tape measure up close" style="margin:0 auto" />
        <p style="text-align:;padding-left:20px;padding-right:20px;margin-top:20px">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  		</div>
			<hr class="artLines">
  		<div class="col-md-4" style="text-align:center;">
        <h2 style="color:white;">Web Development</h2>
        <img src="/img/web2.jpg" width="330"class="img img-responsive"alt="purple yarn ball and tape measure up close" style="margin:0 auto"/>
        <p style="text-align:justify;padding-left:20px;padding-right:20px;margin-top:20px">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  		</div>
  	</div>
		<hr class="artLines">
  	<div class="row">
  		<div class="col-md-12" id="aboutSection"style="text-align:center;margin-top:50px;">
        <h3>About Phoja</h3>
        <p class="top">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <hr style="margin-top:40px;">
        <p style="color:white"><b> &copy 2016 Phoja Unlimited LLC </b></p>
				<p style="color:white;text-align:center">Send all inquires to<a href="mailto:phojaunlimitedllc@gmail.com" target="_top"> phojaunlimitedllc@gmail.com</a></p>
				<a  href='https://www.facebook.com/Phoja-Unlimited-LLC-318725271503188/?ref=bookmarks' target='_blank'><img id='fb-link'src="/img/fb-btn.png" width="150"alt="" /></a>
  		</div>
  	</div>
  </div>
</div>
