<div class="container-fluid">
	<div class="row">
    <div class="col-md-12" style='background-color: rgba(255,25,25,0.7);margin-top:20px;' >
      <!-- <h1 class="fontLob" style="font-size:5em;padding:9%;">Phoja Unlimited LLC</h1> -->
      <img src="/img/Music-Banner1.jpg" style="padding-top:5.5px;padding-bottom:5.5px;"class='img img-responsive' alt="" />
		</div>
	</div>
	<div class="row" style="margin-top:100px;">
		<div class="col-md-6" id='bombay' >
			<img src="/img/FBicon.png" width="45" alt="" />
      <img src="/img/SCicon.png" width="50" alt="" />
      <img src="/img/TWicon.png" width="40" alt="" />
      <img class='img img-responsive' width="300" height="200"src="img/bombay.jpg" alt="" />
		</div>
		<div class="col-md-6" style="margin-top:-30px;margin-bottom:0px" >
      <h2 style="text-align:center;font-family:Bree serif;">Music Production</h2>

      <p id='prodText' style="text-align:justify;padding-left:20px;padding-right:20px;">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
  <hr>
  <div class="row">
  	<div class="wrapper">
      <div class="col-md-4">
        <h4 id="aboutHeader"style="margin-top:40px;margin-bottom:20px;font-family:Bree serif;">About Mic Doja</h4>
        <div class="div-wrap" style="background-color:rgba(255,255,255,0.1);height:300px;max-width:300px;">

          <!-- PRO PIC -->
          <img  id="mePic"class="img img-responsive"src="/img/gi-cartoon.jpg" height="450"alt="" />

          <!-- BADGES -->
          <img style="margin-top:-20px;margin-bottom:40px;"src="/img/bmi.jpg" height='40' alt="" />
          <img style="margin-top:-20px;margin-bottom:40px;"src="/img/GettyLogo.jpg" height='40' alt="" />

          <!-- BIO BLOCK -->
          <div class="bio-wrap" >
            <p style="color:white;"><b>Started Music:</b> 1993</p>
            <p style="color:white;"><b>Instruments:</b> bass guitar, keyboard, vocalist, Audio One</p>
            <p style="color:white;"><b>Label:</b> Indie</p>
            <p style="color:white;"><b>Discography:</b> <br><i style="margin-left:20px;"> The Rise (2008)</i>
            <br><i style="margin-left:20px;"> A.L.I.E.N. Language (2012)</i></p>
            <p style="color:white;"><b>Website:</b> <a href='#'>MICDOJA.COM</a></p>
          </div>
        </div>
        <!-- <hr  style="margin-top:450px;"class="artLines"> -->
        <hr class="artLines">
  		</div>
    </div>

    <!-- SOUND CLOUD -->
		<div class="col-md-4" id="soundCloud">
      <h4 style="margin-top:40px;margin-bottom:20px;"><a href="#" style="text-decoration:none;">Mic Doja SoundCloud</a></h4>

      <iframe width="100%"  scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/169759759&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p class="scTitle" id="down"style="">Mic Doja - I Get Down (King Version) Ft. F.I.R.E. & Link D</p><hr>

      <iframe width="100%"  scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/140655605&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p class="scTitle" id="faith"style="">Mic Doja - Faithful</p><hr>

      <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/215809863&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <p class="scTitle"id="time"style="">Mic Doja - Timeless Instrumental</p>
		</div>

    <!-- YOUTUBE -->
    <div class="col-md-4" id='youTube'>
      <h4 style="padding-bottom:10px;"><a href="#" style="text-decoration:none;">Mic Doja YouTube Channel</a></h4>

      <iframe class="iframe" id='wanna'  src="https://www.youtube.com/embed/LQWriOmZIxQ" frameborder="0" allowfullscreen></iframe>
			<p class="youTubeTitle" style="padding-bottom:15px;">Mic Doja - "I Wanna" (Ventura Skate on Black 29) </p>
			<hr>

      <iframe class="iframe" id='bounce' src="https://www.youtube.com/embed/pKurivCWYn8" frameborder="0" allowfullscreen></iframe>
			<p class="youTubeTitle bounce" style="padding-bottom:18px;">BOUNCE feat. Riley Real, 12 Grand, Mic Doja </p>
			<hr>

      <iframe class="iframe" id='wanna'  src="https://www.youtube.com/embed/no5D8b4763E" frameborder="0" allowfullscreen></iframe>
			<p class="youTubeTitle" style="padding-bottom:15px;">Mic Doja - "Just A Man" </p>
    </div>
	</div>

	<!-- PURCHASE LINKS -->
	<div class="row">
		<div class="col-md-12" id="buyLinks">
			<p><span>Purchase here:</span>
			<img id="itunes"class="img img-responsive"src="/img/itunes.png" width="150"alt="" />
			<img id="amazon"class="img img-responsive"src="/img/amazon.png" width="150"alt="" />
			<img id="cdbaby"class="img img-responsive"src="/img/cd-baby.png" width="150" alt="" />
			</p>
		</div>
	</div>

  <!-- FOOTER -->
	<div class="row">
		<div class="col-md-12">
      <hr style="margin-top:80px;">
      <p style="color:white;text-align:center"><b> &copy 2016 Phoja Unlimited LLC </b></p>
      <p style="color:white;text-align:center">Send all inquires to<a href="mailto:phojaunlimitedllc@gmail.com" target="_top"> phojaunlimitedllc@gmail.com</a></p>
      <a  href='https://www.facebook.com/Phoja-Unlimited-LLC-318725271503188/?ref=bookmarks' target='_blank'><img id='fb-link'src="/img/fb-btn.png" width="150"alt="" /></a>
		</div>
	</div>
</div>
