<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style='background-color: rgba(255,25,25,0.7);margin-top:20px;'>
      <img id="webBan"class="img-responsive"src="img/web-banner3.jpg"  style=""alt="" />
		</div>
	</div>
	<div class="row">
    <h1 style="text-align:center;font-family:Bree serif;">Web Development</h1>
		<div class="col-md-6">
      <img src="img/web1.jpg" style="margin-top:70px;"class="img img-responsive"alt="" />
			<p style="text-align:justify;margin-top:20px;margin-bottom:40px;">
	    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
		<div class="col-md-6">
      <h1 style="text-align:center;font-family:Bree serif;">Projects</h1>
<!-- CODER-NET -->
      <div id="codernet"class="card container">
        <div class="card-footer">
					<h3 style="font-family:Bree serif;color: white;"> Coder-Net </h3>
        </div>
				<div class="card-footer">
					<a style="text-decoration:none;color:white;" href='#'><h4 style="font-family:Bree serif;"> More Info </h4></a>
        </div>
				<div class="card-footer">
					<a style="text-decoration:none;color:white;" href='#'><h4 style="font-family:Bree serif;"> Visit </h4></a>
        </div>
				<div class="card-body">
					<img style='border: 4px rgba(0,0,0,0.5) solid' src="/img/Coder-Net-Splash.jpg" id='coderPic' class='img-responsive' alt="" />
				</div>

				<img style='border: 4px rgba(0,0,0,0.5) solid' src="/img/Coder-Net-Splash.jpg" id='coderPicLow' class='img-responsive' alt="" />
      </div>
<!-- TRAVSTATE -->
      <div id="travstate"class="card container">
        <div class="card-footer">
					<h3 style="font-family:Bree serif;color: white;"> TravState </h3>
        </div>
				<div class="card-footer">
					<a style="text-decoration:none;color:white;" href='#'><h4 style="font-family:Bree serif;"> More Info </h4></a>
        </div>
				<div class="card-footer">
					<a style="text-decoration:none;color:white;" href='#'><h4 style="font-family:Bree serif;"> Visit </h4></a>
        </div>
				<div class="card-body"><img id='travstatePic' src="/img/Trav-HmSt.png"style='border: 4px rgba(0,0,0,0.5) solid' class='img-responsive' alt="" /></div>

				<img id='travstatePicLow' src="/img/Trav-HmSt.png"style='border: 4px rgba(0,0,0,0.5) solid' class='img-responsive' alt="" />
      </div>
<!-- PORTFOLIO -->
      <div id="portfolio"class="card container">
        <div class="card-footer">
					<h3 style="font-family:Bree serif;color: white;" > Portfolio </h3>
        </div>
				<div class="card-footer">
					<a  style="text-decoration:none;color:white;"href='#'><h4 style="font-family:Bree serif;"> Visit </h4></a>
        </div>
				<div class="card-body"> <img id="portfolioPic" src="img/portfolio.png" style='border: 4px rgba(0,0,0,0.5) solid' class='img-responsive'alt="" /></div>


				<img id="portfolioPicLow" src="img/portfolio.png" style='border: 4px rgba(0,0,0,0.5) solid' class='img-responsive'alt="" />
      </div>



		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr style="margin-top:40px;">
			<p style="color:white;text-align:center"><b> &copy 2016 Phoja Unlimited LLC </b></p>
			<p style="color:white;text-align:center">Send all inquires to<a href="mailto:phojaunlimitedllc@gmail.com" target="_top"> phojaunlimitedllc@gmail.com</a></p>
			<a  href='https://www.facebook.com/Phoja-Unlimited-LLC-318725271503188/?ref=bookmarks' target='_blank'><img id='fb-link'src="/img/fb-btn.png" width="150"alt="" /></a>
		</div>
	</div>
</div>
